@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


/* header starts here */

.test {
    outline: 4px solid red;
    display: flex;
    justify-content: space-between;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.list-order{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.main-img {
    display: flex;
    flex-direction: column;
}

/* header ends here */


main {
    /* outline: 4px solid red; */
    width: 70vw;
    margin: 0 auto;
}

p, a {
    font-family: 'Open Sans', sans-serif;
}

a {
    font-weight: bolder;
}

.main-header-section {
    /* outline: 3px solid blue; */
    text-align: center;
    margin-bottom: 50px;
}

.main-content-card {
    /* outline: 4px solid green; */
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}


.card-content {
    /* padding-left: 40px; */
    box-sizing: border-box;
    text-align: center;
}

.card-image img {
    width: 100%;
}

.main-content-card a {
    color: blue;
    text-decoration: none;
}

/* footer css starts here */

.main-footer-section {
    display: flex;
    flex-direction: column;
}

/* Upper footer */

.upper-footer {
    display: flex;
    flex-wrap: row;
    justify-content: space-between;
    background: rgb(26, 25, 25);
}

.upper-footer .questions {
    margin-right: 200px;
    text-align: right;
    font-size: 20px;
    color: white;
}

.logo {
    margin-left: 250px;
    color: white;
    transform: translateY(-80px);
}

.logo h2 {
    font-size: 100px;
}

.main-footer-section img {
    width: 100%;
}

/* Lower footer */

.lower-footer {
    display: flex;
    justify-content: space-evenly;
    background: rgb(26, 25, 25);
    color: white;
    font-size: 25px;
    width: 100%;
}

.lower-footer li {
    list-style-type: none;
    text-decoration: underline;
    color: rgb(175, 172, 172);
}

.lower-footer h5 {
    font-weight: lighter;
}

.lower-footer a {
    color: inherit;
    font-weight: lighter;
    font-size: 20px;
}

.shop-plans {
    width: 16%;
    margin-left: 246px;
    border-top: 2px solid rgb(175, 172, 172);
}

.our-experience {
    border-top: 2px solid rgb(175, 172, 172);
    width: 16%;
}

.about-us {
    border-top: 2px solid rgb(175, 172, 172);
    width: 16%;
}

.brokers {
    border-top: 2px solid rgb(175, 172, 172);
    width: 16%;
}

.providers {
    border-top: 2px solid rgb(175, 172, 172);
    width: 16%;
}

.resources {
    border-top: 2px solid rgb(175, 172, 172);
    width: 16%;
    margin-right: 201px;
    margin-left: 1px;
}

/* footer css ends here */

@media (min-width: 600px) {
    .card-image,.card-content {
        max-width: 50%;
    }

    .main-content-card {
        /* outline: 4px solid green; */
        display: flex;
        flex-direction: row;
    }


    .card-content {
        padding-left: 40px;
        text-align: left;
    }

    .main-content-card:nth-child(odd) {
        flex-direction: row-reverse;
        
    }

    .main-content-card:nth-child(odd) .card-content {
        /* background: red; */
        padding-left: 0;
        padding-right: 40px;
    }
}